a, a:link, a:active{
    text-decoration: none;
    color: #fafafa;
}

a:hover,a:visited{
    color: #f5f5f5;
}

li{
   list-style: none; 
   font-size: 16px;
   width: 200px;
   padding: 0;
   margin: 10px 0px;
   display: flex;
   flex-direction: column;
}

input{
    background-color: #fafafa;
    font-family: inherit;
    font-size: 100%;
    appearance: none;
    border: none;
    outline: none;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input[type="button"]{
    background-color: #596D48;
    margin: 5px 50px; 
    padding: 10px 40px;
    color: #fafafa;
    font-size: 18px;
    font-weight: 800;
}

input:focus{
    border: 1px solid #435883;
    box-shadow: 1px 1px 5px 1px #435883;
}

input[type="password"]:invalid:focus{
    border: 1px solid #a10c07;
    box-shadow: 1px 1px 5px 1px #a10c07;
}

input[type="password"]:invalid{
    border: 1px solid #a10c07;
    box-shadow: none;
}

input[type="password"]:valid{
    border: 1px solid #E5E7EB;
    box-shadow: none;
}

input[type="password"]:valid:focus{
    border: 1px solid #435883;
    box-shadow: 1px 1px 5px 1px #435883;
}

.end > .login{
    color: #596D48; 
}

.end{
    margin: 0 50px; 
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

:root{
    background-image: url(./images/leaves_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #252525;
}

header{
    font-size: 45px;
    font-family: 'Lobster Two', cursive;
    color: #fafafa;
}

.sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.credits{
    position: fixed;
    bottom: 2px;
}

.headrow{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37,0.50);
    padding: 10px;
    margin: 15px;
}

.formS{
    flex: 2;
    min-height: 100vh;
    background-color: #E5E7EB;
    margin: 0;
}

.wrap{
    background-color: #edf0f5;
    width: 100%;
    box-shadow: 0px 15px 10px -15px #111;
}

.wrap>p{
    margin-left: 50px;
    padding: 10px;
    padding-top: 20px;
}

.main{
    display: flex;
    min-height: 100vh;
}

.signup{
    margin: 40px 50px;
    padding: 10px;
    padding-top: 60px;
}

ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 50px;
    align-items: start;
    margin-left: 20px;
    font-weight: 300;
}

.passNoMatch{
    display: none;
    font-weight: 500;
    font-size: 14px;
    color: #a10c07;
}

@media (orientation:portrait){
    .main{
        flex-direction: column-reverse;
    }

    .formS{
        flex: 1;
    }

    .sidebar{
        min-height: 20vh;
    }

    .headrow{
        position: static;
    }

    .credits{
        position: static;
    }


    ul{
        gap: 20px;
    }

    .end{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2px;
    }
}
